[Desktop Entry]
Name=Hyprland (VM)
Comment=An intelligent dynamic tiling Wayland compositor
Exec=env WLR_RENDERER_ALLOW_SOFTWARE=1 WLR_NO_HARDWARE_CURSORS=1 Hyprland
Type=Application
